    @font-face {
        font-family: Roboto;
        src: url("font/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: Roboto;
        src: url("font/Roboto-Bold.ttf");
        font-weight: bold;
    }

    html,body{
        height: 100%;
        width: 100%;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



    .container-grid{
        display: grid;
        grid-template: 1fr 1fr 4fr / 1fr 4fr;
        width: 100%;
        height: 100%;
    }


    /*Designing Side-Bar */
    .side-bar{
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: repeat(3, 50px); 
        gap: 180px;
        justify-content: space-around;
        background-color: #60a5fa;
        color: white;

    }

    /* Side-bar Design-Start */
    .dashboard{
        margin-top: 40px;
        align-self: center;
        font-size: 150%;
        font-family: Roboto;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
    }



    .upper-layer,
    .lower-layer{
        display: grid;
        align-self: center;
        font-family: Roboto;
        gap: 15px;
        font-weight: bold;
        font-size: 115%;
    }
 
    .layer{
        display: flex;
        align-items: center;
        gap: 10px;
    }


   /* For images */

    .dashboard > img {
        width: 50px; 
    }

    img{
        width: 30px;
    }
    
   /* Side-bar Design-End */




    .search-bar{
        align-self: center;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: flex;
        gap: 25px;
        align-items: center;
        margin-top: -40px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: Roboto;
        font-weight: bold;
    }

    /* Search Bar Design Start */


    .bar{
        flex-grow: 1;
        display: flex;
        gap: 10px;
    }

    .left-searchbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin-right: 20px;
    }


    .item-searchbar{
        flex-grow: 1;
        max-width: 700px;
        border-radius: 15px;
        background-color: #e5e7eb;
    }

    .profile-picture > img{
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

     




    /* Search Bar Design End */




    .dashboard-bar{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 0.5fr 6fr;
        justify-items: start;
        gap: 20px;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: -50px;
    }

    /*Dashboard Bar Design Start */

    .smallfont-dashboard,
    .bigfont-dashboard{
        font-family: Roboto;
        font-weight: bold;
    }


    .bigfont-dashboard{
        font-size: 140%;

    }

    .profile-picture-big > img{
        height: 90px;
        width: 90px;
        border-radius: 50%;
        display: inline-block;
    }

     
     .buttons-bar{
        display: flex;  
        gap: 30px;  
     }


    .buttons-bar > button{
        border: 1px solid #3b82f6;
        background-color: #3b82f6;
        border-radius: 50px;
        color: white;
        font-family: Roboto;
        font-weight: bold;
        min-width: 75px;
        min-height: 35px;
        padding: 3px;
     }





    /*Dashboard Bar Design End */



    .content{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: #e5e7eb;

    }

    .projects{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        font-family: Roboto;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 20px;
        font-size: 120%;
    }

    /* Design Start .project-grids */


      .projects-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-template-rows: repeat(auto-fit,minmax(100px,1fr));
        gap: 50px;
        margin: 30px;
      }


      .projects-grid > div > p {
        font-family: Roboto;
        font-weight: normal;
      }
      
      .projects-grid > div{
        background-color: white;
        padding: 40px;
        border-radius: 15px;
        box-shadow: -0.5em 0 #fde047;  
      }

    /*Design End .project-grids */

    .announcements{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .trending{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    /* Content Design Start */












    /* Content Design End */